h1 {
  text-decoration: underline;
}

.light-square {
  position: relative;
  float: left;
  background-color: #F0D9B5;
  width: 49;
  height: 49;
}

.dark-square {
  position: relative;
  float: left;
  background-color: #B58863;
  width: 49;
  height: 49;
}

.light-square-hover {
  position: relative;
  float: left;
  background-color: #F0D9FF;
  width: 49;
  height: 49;
}

.dark-square-hover {
  position: relative;
  float: left;
  background-color: #B588FF;
  width: 49;
  height: 49;
}

.light-square-highlight {
  position: relative;
  float: left;
  background-color: #0000FF;
  width: 49;
  height: 49;
}

.dark-square-highlight {
  position: relative;
  float: left;
  background-color: #0000FF;
  width: 49;
  height: 49;
}

.hover {
  rgba(0,0,1,0.5)
}
